html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  color: #000;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #262626;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.main-menu .menu-bar {
  font-size: 3rem;
  margin-left: 2rem;
  display: none;
}

.container {
  width: 90%;
  max-width: 110rem;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #262626;
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: 0;
  transition: opacity 0.5s ease-in-out;
  margin-top: 2rem;
}

.btn:hover {
  opacity: 0.8;
}

.btn-product {
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  color: #0067b8;
  padding-top: 1rem;
  font-size: 1.5rem;
}

.btn-product:hover i {
  margin-left: 2rem;
}

.btn-white {
  background-color: #fff;
  color: #262626;
}

/*  Header */
.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 0;
}

.main-menu .main-menu-links {
  flex: 2;
  margin-left: 3rem;
}

.main-menu-icons {
  display: flex;
  align-items: center;
}

.main-menu a {
  margin: 0 1rem;
}

.main-menu a:hover {
  border-bottom: 0.2rem solid #262626;
}

.logo {
  width: 11rem;
}

/*  Hero */
.hero {
  position: relative;
  width: 100%;
  height: 40rem;
  background-image: url("https://i.ibb.co/zGSDGCL/slide1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.hero-content {
  position: absolute;
  bottom: 5rem;
  text-align: center;
}

.hero-content h1 {
  margin-bottom: 1rem;
}

/* Productos */
.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}

.product img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.product h3 {
  font-size: 1.75rem;
  margin-bottom: 0.7rem;
}

.product p {
  font-size: 1.5rem;
}

/* Hero Xbox */

.hero-xbox {
  width: 100%;
  height: 35rem;
  background-image: url(https://i.ibb.co/tBJGPD9/xbox.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-xbox-content {
  width: 40%;
  margin: 5rem 3.5rem;
  font-size: 1.5rem;
}

/* Hero Carbon */
.hero-carbon {
  width: 100%;
  height: 35rem;
  background-image: url(https://i.ibb.co/72cgtsz/carbon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
}

.hero-carbon-content {
  color: #fff;
  margin: 0 3.5rem;
  width: 55%;
}

.hero-carbon-content h2 {
  margin-bottom: 1rem;
}

/* Social Networks */
.socials {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.socials i {
  width: 4rem;
  height: 4rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.socials .face {
  background-color: #4267b2;
}

.socials .twi {
  background-color: #1da1f2;
}

.socials .in {
  background-color: #0e76a8;
}

/* Footer */
.footer-site {
  background-color: #f2f2f2;
  padding: 5rem 2rem;
  color: #616161;
}

.footer-site-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3rem;
}

.footer-menu {
  display: flex;
  flex-direction: column;
}

.footer-menu h3 {
  margin-bottom: 1.2rem;
}

.footer-menu a {
  margin: 0.7rem 0;
}

.copyright-menu {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.language {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.language i {
  margin-right: 1rem;
  font-size: 2.5rem;
}

.links-copy {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .main-menu .menu-bar {
    display: block;
  }

  .main-menu .main-menu-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 0;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 3rem;
    z-index: 1000;
    row-gap: 1.5rem;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .main-menu-links.show {
    transform: translateX(-1px);
  }

  .main-menu-links a {
    border-bottom: #ccc 1px solid;
    padding: 1rem 0.5rem;
  }

  .main-menu-links a:last-of-type {
    border-bottom: none;
  }

  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-site-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .products-container {
    grid-template-columns: 1fr;
  }

  .footer-site-container {
    grid-template-columns: 1fr;
  }

  .copyright-menu {
    flex-direction: column;
  }

  .language {
    align-self: start;
    margin-bottom: 2rem;
  }

  .hero-xbox-content p {
    display: none;
  }

  .hero-carbon {
    justify-content: flex-end;
    padding-bottom: 3rem;
  }

  .hero-carbon-content {
    font-weight: bold;
    width: 75%;
  }
}
